#include <dt-bindings/zmk/mouse.h>
/ {
    chosen {
        zmk,split-role = "central";
    };
};

/ {
    cirque_pinnacle: cirque_pinnacle {
        compatible = "cirque,pinnacle";
        reg = <0x2A>;
        label = "CIRQUE";
        status = "okay";
    };
};

&i2c0 {
status = "okay";

cirque_ts: cirque@2a {
    compatible = "cirque,pinnacle";
    reg = <0x2a>;
    status = "okay";

    tap-enable;
    gesture-scroll-enable;

    touch-debounce = <100>;
    tap-threshold = <100>;
};

};


